<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <h4><%= post["author"] %></h4>
      <img class="img-fluid" src="<%= post["image"] %>" class="w-full">
      <p>
        <a href="/posts/<%=post["id"]%>"> <%= post["body"] %> </a>
      </p>
    </div>
  <% end %>
</div>